body {
  padding-top: 50px;
}

body > .container {
  padding: 20px 15px 10px;
  text-align: center;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom: 10px;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
