{% extends "main.html" %}
{% block content %}
    <div class="container">
		<h1>{{ p.site_title }}</h1>
		<span id='lead-area'>
			<p class="lead">Select an MDB file to be imported into the system.</p>
		</span>
		<div class="text-left col-md-6 col-md-offset-3">
			<input id="fileupload" type="file" name="file" style="display:none">
			<form role="form" method="post" action="/submit" enctype="multipart/form-data" name="submit">
				<div class="form-group">
					<label for="inputDbFileGrp">Database file</label>
					<div class="input-group" id="inputDbFileGrp">
						<input id="inputDbFile" name="inputDbFile" class="form-control" type="text" required>
						<span class="input-group-btn">
							<a id="browseButton" class="btn btn-md btn-info" onclick="$('input[id=fileupload]').click();"><i class="fa fa-folder-o fa-sm"></i> Browse</a>
						</span>
					</div>
				</div>
				<div class="form-group">
					<label for="inputUser">Database user</label>
					<input type="text" class="form-control" id="inputUser" name="inputUser" placeholder="Username" required>
					<p class="help-block">This user will have ownership of the imported database</p>
				</div>
				<div class="form-group">
					<label for="inputUserPassword">User password</label>
					<input type="password" class="form-control" id="inputUserPassword" name="inputUserPassword" placeholder="User Password" required>
					<p class="help-block">Password to be used for the new database user</p>
				</div>
				<div class="form-group">
					<label for="inputAdminPassword">Admin password</label>
					<input type="password" class="form-control" id="inputAdminPassword" name="inputAdminPassword" placeholder="Admin Password" required>
					<p class="help-block">Password for the existing PostgreSQL administrative user</p>
				</div>
				<div class="panel-group" id="accordion">
					<div class="panel-heading">
					  <span class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" href="#advanced">
						  <small><i class="fa fa-cog fa-sm"></i> Advanced Options</small>
						</a>
					  </span>
					</div>
					<div id="advanced" class="panel-collapse collapse">
					  <div class="panel-body">
						<div class="form-group">
							<label for="inputAdminUser">Admin user</label>
							<input type="text" class="form-control" id="inputAdminUser" name="inputAdminUser" value="postgres" required>
							<p class="help-block">The existing PostgeSQL administrative user</p>
						</div>
						<div class="form-group">
							<label for="inputHost">Database host</label>
							<input type="text" class="form-control" id="inputHost" name="inputHost" value="localhost" required>
						</div>
						<div class="form-group">
							<label for="inputPort">Database port</label>
							<input type="text" class="form-control" id="inputPort" name="inputPort" value="5432" required>
						</div>
					  </div>
					</div>
				</div>
				<button id="submitButton" type="submit" class="btn btn-info" disabled>Submit</button>
			</form>
		</div>
	</div>
	<div class="container col-md-8 col-md-offset-2">
		<div class="alert alert-warning" role="alert"><i class="fa fa-warning fa-lg"></i> <strong>Warning!</strong> Existing database will be renamed and replaced with data from the uploaded MDB file.</div>
    </div>
{% endblock %}

{% block script %}
<script src="{{ p.site_url }}/static/js/vendor/jquery.ui.widget.js"></script>
<script src="{{ p.site_url }}/static/js/jquery.iframe-transport.js"></script>
<script src="{{ p.site_url }}/static/js/jquery.fileupload.js"></script>
<script>
$('input[id=fileupload]').change(function() {
	$('#inputDbFile').val($(this).val());
});

$(function () {
	//var formData = $('form').serializeArray();
    $('#fileupload').fileupload({
        dataType: 'json',
		//autoUpload: false,
		url: '/upload',
		start: function (e, data) {
			$("#lead-area").html("<div class='container col-md-8 col-md-offset-2'><div class='progress' id='progress'><div class='progress-bar progress-bar-info' role='progressbar' aria-valuenow='0' aria-valuemin='0' aria-valuemax='100'></div></div></div>");
			$("#inputDbFile").attr("readonly", "readonly");
			$("#browseButton").attr("disabled", "disabled").attr("class", "btn btn-default");
		},
        stop: function (e, data) {
			$("#lead-area").html("<p class='lead text-success'>File uploaded successfully.</p>");
			$("#submitButton").removeAttr("disabled");
        },
        fail: function (e, data) {
			$("#lead-area").html("<p class='lead text-error'>File uploaded failed.</p>");
        },
		progress: function (e, data) {
			var progress = parseInt(data.loaded / data.total * 100, 10);
			console.log(progress);
			$('#progress .progress-bar').css('width', progress + '%').attr('aria-valuenow', progress);
			$('#progress .progress-bar').innerHTML = progress + '%';
		}
    });
});
</script>
{% endblock %}
