{% extends "main.html" %}
{% block content %}
	<h1>{{ p.site_title }}</h1>
	<p class="lead">Select an MDB file to be imported into the system.</p>
	<div class="text-left col-md-6 col-md-offset-3">
		<form role="form" method="post" action="/" enctype="multipart/form-data" name="submit">
			<div class="form-group">
				<label for="inputDbFile">Database file</label>
				<input id="lefile" type="file" name="file" style="display:none">
				<div class="input-group" id="inputDbFileGrp">
					<input id="inputDbFile" class="form-control" type="text" required>
					<span class="input-group-btn">
						<a class="btn btn-primary" onclick="$('input[id=lefile]').click();">Browse</a>
					</span>
				</div>
			</div>
			<div class="form-group">
				<label for="inputUser">Database user</label>
				<input type="text" class="form-control" id="inputUser" name="inputUser" placeholder="Username" required>
				<p class="help-block">This user will have ownership of the imported database</p>
			</div>
			<div class="form-group">
				<label for="inputUserPassword">Database user password</label>
				<input type="password" class="form-control" id="inputUserPassword" name="inputUserPassword" placeholder="User Password" required>
				<p class="help-block">Password to be used for the new database user</p>
			</div>
			<div class="form-group">
				<label for="inputAdminPassword">Database admin password</label>
				<input type="password" class="form-control" id="inputAdminPassword" name="inputAdminPassword" placeholder="Admin Password" required>
				<p class="help-block">Password for the existing postgres admin</p>
			</div>
			<button type="submit" class="btn btn-default">Submit</button>
		</form>
	</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
$('input[id=lefile]').change(function() {
	$('#inputDbFile').val($(this).val());
});
</script>
{% endblock %}
